#/etc/netplan/101-config.yaml
#netplan configuration file UbuntuServerX86-64-target VM: nginx, mail, nfs, telnet, ftp, etc.
network:
        version: 2
        renderer: networkd
        ethernets:
                #internet via host
                ens33:
                        #dhcp route adds default
                        dhcp4: true
                        dhcp4-overrides:
                                use-dns: false
                        nameservers:
                                addresses: [192.168.50.1,8.8.8.8,1.1.1.1] #customize this with your own internet router IP address
                                search: [invalid] #customize this with your own internet router domain name
                #container 1
                ens38:
                        #dhcp route adds default
                        dhcp4: true
                        nameservers:
                                addresses: [192.168.25.10] #customize this with your own internet router IP address
                                search: [netsec-docker.isi.jhu.edu] #customize this with your own internet router domain name                       
                #container 2
                ens39:
                        #dhcp route adds default
                        dhcp4: true
                        nameservers:
                                addresses: [192.168.25.10]
                                search: [netsec-docker.isi.jhu.edu]      
                #container 3
                ens40:
                        #dhcp route adds default
                        dhcp4: true
                        nameservers:
                                addresses: [192.168.25.10]
                                search: [netsec-docker.isi.jhu.edu]      
                #container 4
                ens41:
                        #dhcp route adds default
                        dhcp4: true
                        nameservers:
                                addresses: [192.168.25.10]
                                search: [netsec-docker.isi.jhu.edu]      
                #container 5
                ens42:
                        #dhcp route adds default
                        dhcp4: true
                        nameservers:
                                addresses: [192.168.25.10]
                                search: [netsec-docker.isi.jhu.edu]
