#/etc/netplan/100-config.yaml
#netplan configuration file 2 for UbuntuServerX86-64-infrastructure VM: suricata, auth, etc.
network:
        version: 2
        renderer: networkd
        ethernets:
                #container3
                ens40:
                        #static routes, do not add gateway4 or gateway6 so that netplan does not add default route                
                        dhcp4: false
                        dhcp4-overrides:
                                use-routes: false
                        nameservers:
                                addresses: [192.168.25.10]
                                search: [netsec-docker.isi.jhu.edu]
                #container4
                ens41:
                        #static routes, do not add gateway4 or gateway6 so that netplan does not add default route                
                        dhcp4: false
                        dhcp4-overrides:
                                use-routes: false
                        nameservers:
                                addresses: [192.168.25.10]
                                search: [netsec-docker.isi.jhu.edu]
                #container5
                ens42:
                        #static routes, do not add gateway4 or gateway6 so that netplan does not add default route                
                        dhcp4: false
                        dhcp4-overrides:
                                use-routes: false
                        nameservers:
                                addresses: [192.168.25.10]
                                search: [netsec-docker.isi.jhu.edu]
